.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.order p {
  margin-right: 0;
  margin-left: 0;
}

.icon_wrapper {
  display: grid;
  place-items: center;
  width: 120px;
  height: 120px;
  background: radial-gradient(circle, rgb(76 76 255 / 20%) 0%, rgb(19 19 24 / 0%) 70%);
  border-radius: 50%;
}
