body {
  margin: 0;
  font-family: 'Jet Brains Mono', serif;
  background-color: var(--background-alt);
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
  .custom-scroll {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }

  body {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }
}
